.card-edit {
  padding: 1rem 1.5rem;
  border-radius: 10px;
  border: 1px solid var(--other-divider, rgba(0, 0, 0, 0.12));
  background: #fff;

  .card-header {
    display: flex;
    justify-content: space-between;

    .container-title {
      display: flex;
      gap: 8px;
      align-items: center;
    }

    .required-message {
      border-radius: 4px;
      background: #f5f5f5;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 166%;
      letter-spacing: 0.4px;
      color: #000000;
      padding: 4px 8px;
      text-transform: uppercase;
    }
  }
}
